<div Row [row]="'center'">
    <div Grid [cols]="'12 6 6 6'">

        <app-head-title></app-head-title>

        <app-sign-in></app-sign-in>

        <app-social-media></app-social-media>

    </div>

    <div Grid [cols]="'12 6 6 6'" class="bg-img overlay">
        <div Row [row]="'center'">
            <img src="/assets/white_logo.png" alt="" class="white_logo">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit deleniti expedita quo, sit dicta itaque
                facilis maxime iure veniam optio dolorum veritatis molestias voluptatibus reiciendis unde? Hic
                consequatur eos officiis!</h4>
        </div>

    </div>
</div>