<div Row [row]="'center'">
  <div Grid [cols]="'12 12 12 12'">
    <mat-drawer-container class="side-container" autosize>
      <mat-drawer #drawer class="sidenav" mode="side">
        <ul>

          <li *ngFor="let category of category.categories">
            <a href="">{{category | titlecase }}</a>
          </li>
          <hr>

          <li>
            <span>Countries</span>
          </li>
          <hr>
        </ul>

      </mat-drawer>

      <div class="side-content">
        <mat-icon (click)="drawer.toggle()" color="primary">menu</mat-icon>
      </div>
    </mat-drawer-container>

  </div>
</div>
