<div Row [row]="''" id="sidenav">
  
  <section *ngIf="showCountries" (mouseleave)="unlistCountries()" class="arrow_box">
    <span class="section-title">Countries</span>
    <p *ngFor="let country of country.countries" (click)="getNewsByCountry(country)">
      {{ country.name === 'usa' ? (country.name | uppercase) : (country.name | titlecase)}}</p>
  </section>

  <nav Grid [cols]="'6'">
    <mat-icon (click)="openSideBar()">menu</mat-icon>
    <div id="sideBar" #sideBar>
      <img src="/assets/logo.png" alt="Logo - News API" (click)="onClose()">
      <ul>
        <li>
          <span (mouseenter)="listCountries()">Countries</span>
        </li>
        <li *ngFor="let category of category.categories" (mouseleave)="unlistCountries()">
          <a (click)="getNews(category)">{{category | titlecase}}</a>
        </li>
      </ul>

    </div>
  </nav>

</div>

<router-outlet></router-outlet>