/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

body .container-fluid{padding-right: 1rem; padding-left: 0;}

// Background image

#bg-img{
    background: 
      url(https://images.pexels.com/photos/2189215/pexels-photo-2189215.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
      background-size: cover;
      vertical-align: middle;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      min-height: 100vh;
      position: relative;
      overflow: hidden;
      text-align: left;
}

#bg-img:before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  opacity: 0.6;
  background: #612F74;
}

.white_logo{
  z-index: 1;
}
